*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

body{
    font-family: Helvetica, sans-serif, Arial;
    font-size: 18px;
}

h1, h2 {
    color: #016b01;
}

h1{
    
    font-size: 40px;
    margin-bottom: 20px;
}


h2{
    font-size: 25px;
    margin-bottom: 10px;
}

.paragraph-text{
    text-align: justify;
    margin-bottom: 20px;
}

#auther-text {
    font-size: 22px;
}

.container{
    width: 90%;
    margin: 20px auto 0 auto;
}

.blog-post{
    width: 75%;
    float: left;
    padding-right: 20px;
}

.other-blog{
    width: 25%;
    float: left;
    padding-left: 20px;
}

.auther-blog{
    border-top: 1px solid grey;
    padding-top: 20px;
}