body{
    font-family: Helvetica, sans-serif, Arial;
    font-size: 18px;
}

h1, h2 {
    color: #016b01;
}

h1{
    
    font-size: 40px;
}


h2{
    font-size: 25px;
}

.paragraph-text{
    text-align: justify;
}

#auther-text {
    font-size: 22px;
}