*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif, Arial;
    font-size: 18px;
}

h1, h2 {
    color: #016b01;
}

h1{
    
    font-size: 40px;
    margin-bottom: 20px;
}


h2{
    font-size: 25px;
    margin-bottom: 10px;
}

.paragraph-text{
    text-align: justify;
    margin-bottom: 20px;
}

#auther-text {
    font-size: 22px;
}