@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*
Green: #67b26f
Blue: #4ca2cd
Mid: #5aaa9d
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom right,  #67b26f, #4ca2cd);
    color: #444;
    height: 100vh;
    padding: 20px;
    font-family: Roboto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pizza{
    display: flex;
    /* border: 1px solid black; */
    border-radius: 5px;
    max-width: 800px;
    overflow: hidden;
    box-shadow: 0 20px 80px  20px rgba(0, 0, 0, 0.3);
}

.pizza__img{
    width: 100%;
    display: block;
}

.pizza__hero{
    flex: 0 0 45%;
}

.pizza__content{
    flex: 1;
    background-color: #fff;
}

.pizza__price{
    flex: 0 0 50px;
    color: #fff;
    font-size: 20px;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #67b26f, #4ca2cd);
}